h3 Explore the political balance of each EU country

select#countries

ul#legend
    li.parliament_mean
        b
        div National parliament
    li.ep_mean
        b
        div European Parliament members

#chart
