#chart
    padding-bottom: 20px

ul#legend
  margin-left: 0
  padding: 0
  padding 0 0 10px 0
  list-style-type: none

  li
    display: inline-block
    margin: 0 18px 0 0
    padding: 0
    line-height: 16px

    b
      display: inline-block
      width: 16px
      height: 16px
      margin-right: 6px
      float: left

    div
      whitespace: nowrap
      fill: $qz-gray-2
      font-size: 14px
      font-family: 'AdelleSans-Regular', Helvetica, Arial, sans-serif
      float: left;

    &.parliament_mean b
      background-color: $qz-purp-3

     &.ep_mean b
        background-color: $qz-blue-3

.lines path
    stroke-width: 3px
    fill: none

    &.parliament_mean
        stroke: $qz-purp-3

    &.ep_mean
        stroke: $qz-blue-3

.zero-line
    stroke: $qz-gray-3
    stroke-width: 3px
    fill: none

.left, .right
    font-family: $qz-sans-light
    stroke: $qz-gray-3
    fill: $qz-gray-3
    opacity: 0.8
