.lines path {
    stroke: $qz-purp-3
    stroke-width: 3px
    fill: none
}

.zero-line {
    stroke: $qz-gray-3
    stroke-width: 3px
    fill: none
}

.left, .right {
    font-family: $qz-sans-light
    stroke: $qz-gray-3
    fill: $qz-gray-3
    opacity: 0.8
}
