#interactive-content h3
    font-family: $qz-sans
    font-size: 20px
    font-weight: 400
    margin-bottom: 10px

select
    width: 200px

#chart
    padding-bottom: 20px

ul#legend
  margin-left: 0
  padding: 0
  padding 0 0 10px 0
  list-style-type: none

  li
    display: inline-block
    margin: 0 18px 0 0
    padding: 0
    line-height: 20px

    b
      display: inline-block
      width: 12px
      height: 12px
      margin-top: 4px
      margin-right: 6px
      float: left

    div
      whitespace: nowrap
      fill: $qz-gray-2
      font-size: 20px
      font-family: $qz-sans-light
      float: left;

    &.parliament_mean
        b
            background-color: $qz-purp-3
        div
            color: $qz-purp-3

     &.ep_mean
        b
            background-color: $qz-blue-1
        div
            color: $qz-blue-1

.lines path
    stroke-width: 3px
    fill: none

    &.parliament_mean
        stroke: $qz-purp-3

    &.ep_mean
        stroke: $qz-blue-1

.zero-line
    stroke: $qz-gray-3
    stroke-width: 2px
    fill: none

.left, .right
    font-family: $qz-sans-light
    stroke: $qz-gray-3
    fill: $qz-gray-3
    opacity: 0.8
